:root {
  --font-color: rgb(58, 58, 58);
  --bottom-font-size: small;
  --bottom-font-weight: lighter;
  --margin-padding: 10px;
}

/* REACT-SLICK CAROUSEL */
.slick-list > div {
  margin-left: 0;
}

/* CATEGORY BANNER */
.category {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.categoryTitle {
  /* New / Popular / Nearby */
}

.categoryEntries {
  color: #009de0;
  font-size: 1rem;
  font-weight: 400;
}

/* CONTAINER FOR ALL CAROUSELS */
.venues {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* CONTAINER FOR SINGLE VENUE ITEM */
.venueRoot {
  width: 240px;
  margin: 5px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
}

/* BLURHASH */
.venueImageContainer {
  opacity: 0.8;
  height: 135px;
}

.venueImageContainer:hover {
  opacity: 1;
}

.image {
  position: absolute;
  z-index: 1;
}

.imageOffline {
  opacity: 0.5;
}

.imageOffline:hover {
  opacity: 0.8;
}

.offline {
  position: absolute;
  z-index: 2;
  text-align: center;
  padding-left: var(--margin-padding);
  color: black;
  opacity: 1;
}

/* VENUE INFO */
.venueBottom {
  margin: 0;
}

.venueTitle {
  color: var(--font-color);
  font-family: tahoma, verdana, arial, sans-serif;
  font-weight: 400;
  padding-left: var(--margin-padding);
  margin-top: 10px;
  margin-bottom: 0;
}

/* CONTAINER FOR RATING & ONLINE STATUS */
.venueStats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.venueRating,
.venueOnline {
  color: var(--font-color);
  font-size: var(--bottom-font-size);
  font-weight: var(--bottom-font-weight);
  margin: var(--margin-padding);
}
